
.panel-3col-custom { 
/*  overflow: hidden;  */
}

.panel-3col-custom .panel-col-left{ 
  float: left; 
  width: 70%; 
}
* html .panel-3col-custom .panel-col-left {
  width: 70%;
}

.panel-3col-custom .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-3col-custom .panel-col-right { 
  float: left; 
  width: 30%; 
}
* html .panel-3col-custom .panel-col-right {
  width: 30%;
}

.panel-3col-custom .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.panel-3col-custom .panel-col-last { 
  float: left; 
  width: 100%; 
}
* html .panel-3col-custom .panel-col-last {
  width: 100%;
}

.panel-3col-custom .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-3col-custom .panel-separator {
  margin: 0 0 1em 0;
}
