
/* ---------- Color Module Styles ----------- */
.news-deck-view-content .views-field-title a,
.news-deck-top-right-content .read-more,
.news-deck-view-content .views-field-view-node a,
.region-header nav ul.first-level li a,
.first-level li.slideul .third-level a,
#block-system-main-menu ul li a,
.article-region .field-name-body h4,
.article-region .field-name-body h2,
.article-region .field-name-body blockquote p,
.sof-column-content blockquote p,
body.node-type-basic-page .field-name-body blockquote p,
.sof-column-content blockquote p,
.article-region .field-name-body blockquote:before,
.sof-column-content blockquote:before,
#block-views-related-content-block .field-content a,
body.node-type-basic-page .field-name-body  h2,
body.node-type-basic-page .field-name-body  h4,
.node-webform .form-item label,
.node-webform .webform-progressbar-outer,
.back-to-all-releases-link,
.publication-bottom-container  .views-field-title a,
body.node-type-basic-page .field-name-body blockquote:before,
#block-views-read-also-block .views-field-view-node a,
.section-header .views-field-view-node a,
.section-default-listiing .views-row a,
.region-header nav .menu  li.last.leaf:after,
.footer_social_media_facebook a,
.footer_social_media_twitter a,
.sof-column-content h2,
.sof-column-content h4,
.recomendation-overview .views-row a,
.pane-bundle-also-see-pane .read-more a,
.mag-deck-right-group .field-name-field-magazine-links .field-item a,
.new-search-wrapper:before,
.apachesolr_search-results li h3 a,
.search-category .links li a,
.toolbox-search-wrapper:after,
.view-publication-listing-view .views-field-label a,
.item-list-facetapi-facetapi-links li a,
#user-login label,
#user-pass label,
.article-region  .author-datetime a,
body.node-type-basic-page .author-datetime a,
#views-form-commerce-cart-form-sof-default .views-field-line-item-title a,
.view-sof-commerce-cart-checkout-summary .views-field-line-item-title a,
#commerce-checkout-form-checkout .form-item  label,
#commerce-checkout-form-checkout #edit-cancel,
#commerce-checkout-form-shipping #edit-commerce-shipping .fieldset-wrapper,
#commerce-checkout-form-shipping #edit-back,
#commerce-checkout-form-review .checkout-help{
  color: #00a2eb;
}
.commerce-add-to-cart-confirmation .added-product-title,
.commerce-add-to-cart-confirmation .views-field-commerce-total .field-content{
  color: #00a2eb!important;
}

#footer,
.right-article-region .right-region-top-links a,
ul.pager li.pager-current,
ul.pager li.pager-next,
ul.pager li.pager-last,
ul.pager li.pager-first,
ul.pager li.pager-previous,
.news-deck-newsletter,
.news-deck-bottom-right-content .follow-link-wrapper-facebook,
.news-deck-bottom-right-content .follow-link-wrapper-twitter,
.follow-link-wrapper-twitter,
.pane-bundle-also-see-pane .field-name-field-single-link a,
.pane-bundle-intro-deck-pane,
.node-webform .webform-progressbar-page.current,
.node-webform .webform-progressbar-page,
.node-webform .webform-progressbar-page,
.webform-progressbar-inner,
.node-webform .form-submit.ajax-processed,
.node-webform .form-actions input,
.publication-top-right-container .field-name-field-single-link,
.publication-top-right-container .download-as-pdf-out,
.sof_footer_social_media_icon,
#node_article_full_group_bottomaregion  .field-item a,
.pane-sof-toolbox-search,
.article-region .field-name-body a.download-article-pdf,
a.sof-pdf-generate-inline-link,
#sof-general-tweaks-mailchimp .form-submit,
body.page-user ul.primary li:hover, 
body.page-user ul.primary li.active,
#user-login .form-submit,
#user-pass .form-submit,
.publication-ecommercebutton,
#views-form-commerce-cart-form-sof-default .views-field-edit-delete input,
#views-form-commerce-cart-form-sof-default tr th,
#views-form-commerce-cart-form-sof-default  #edit-actions input,
#commerce-checkout-form-checkout #edit-cart-contents legend,
.view-sof-commerce-cart-checkout-summary .views-field-edit-delete input,
.view-sof-commerce-cart-checkout-summary tr th,
.view-sof-commerce-cart-checkout-summary  #edit-actions input,
#commerce-checkout-form-checkout #edit-customer-profile-shipping legend,
#commerce-checkout-form-checkout #edit-customer-profile-billing legend,
#commerce-checkout-form-checkout #edit-continue,
#commerce-checkout-form-shipping #edit-commerce-shipping legend,
#commerce-checkout-form-shipping #edit-continue,
#commerce-checkout-form-review .checkout-review .pane-title td{
  background-color: #00a2eb;
}
.commerce-add-to-cart-confirmation .checkout{
  background-color: #00a2eb!important;
}
div.messages.commerce-add-to-cart-confirmation{
	border-color:#00a2eb;
}
