/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small touch devices */
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
/* The toggle link */
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}

.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}

/* Menu items */
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}
/* =============================================================================
 *   HEADER AND MENU CONTAINERS
 * ========================================================================== */
#header{
	margin:0 auto;
	float:none;
}
#logo img{
	max-width:210px;
}
.header-inner-navigation-container{
   background: none repeat scroll 0 0 #fff;
   top:70px;
   right:0;
   position: absolute;
   z-index: 9999;
   display:none;
   width:320px;	
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box; 
   box-sizing: border-box;
}
.header-inner-navigation-container-hidden{
	display:block;
	float:right;
	width:100%;
}

.header-navigation-container.active{
    position: absolute;
    z-index: 100;
    width:100%;
 
}
.top-navigation-main, 
.top-navigation-second{
	width:100%;
}
.top-navigation-first{
	display:none;
}
/*.top-navigation-first{
	display:none;
}*/
.top-navigation-second{
	display:block;
	float:left;
	margin-top:40px;
}
#nav-activation-link{
	display:block;
    float: right;
    width:100%;
    margin:40px 0 0 0;
}
#nav-activation-link span{
	cursor: pointer;
	font-size: 24px;
    padding: 0 25px 0 0;
    position: relative;
    float:right;
    text-transform:uppercase;
    background-image:url('images/nav_button.png');
    background-position:right 11px;
    background-repeat:no-repeat;
}
#nav-activation-link span.active{
	background-image:url('images/nav_close_button.png');
    background-position:right 0;
    background-repeat:no-repeat;
    text-indent:-9999px;
    height:23px;
    width:0;
    display:block;
    float:right;
}
#nav-activation-link:hover{
	text-decoration:none;
}
#block-menu-menu-top-navigation{
	padding-left:17px;
}
.region-top-header-navigation .follow-links{
	float:left;
}
/* =============================================================================
 *   Main Navigation
 * ========================================================================== */
#block-system-main-menu .menu> li > a{
	color:#000!important;
}
.header-right-main-container,
.header-navigation-container{
	float:right;
	position:relative;
}
.menu{
	padding:0 20px;
}
.region-header{
	width:100%;
}
.region-header nav ul{
	width:auto;
}
.region-header nav ul.menu li{
	float:none;
	display:block;
	padding-bottom:25px;
}

.region-header nav .menu li.last.leaf:after{
	content:"";
}

.region-header nav ul.menu li a{
	color:#000;
	background-image:url('images/nav-drop-dow-arrow.png');
	background-position:left 9px!important;
	background-repeat:no-repeat!important;
}
.menu li.expanded.slideul a{
	border-bottom: 0;
}
/*Second, third level*/

.second-level-main-container{
	top:0px;
	position:relative;
	padding-bottom:0!important;
	height:auto!important;
}
.second-level-main-container span{
	display:none;
}
.second-level-main-container .second-level{
	width:100%;
	padding-bottom:20px;
}
.region-header nav ul.second-level li{
	width:100%;
	background-image:none!important;
}
.second-level{
	position:relative;
}
.second-level  li{
	border:none;
	padding:0!important;
}
.third-level li a{
	background-image:none!important;
}
.third-level-main-container{
	margin-bottom:-20px;
}
/* =============================================================================
 *   Top Header Menu
 * ========================================================================== */
#block-menu-menu-top-navigation{
	padding-bottom:30px;
	float:left;
}
#block-menu-menu-top-navigation ul li{
	float:none;
	display:block;
	padding-left:25px;
	padding-top:20px;
	background-image:url('images/nav-drop-dow-arrow-grey.png');
	background-position:left 27px;
	background-repeat:no-repeat;
	text-align:left;
}
#block-menu-menu-top-navigation ul li a{
	font-size: 24px;
  	text-decoration: none;
  	text-transform: uppercase;
}
#block-menu-menu-top-navigation ul li.first{
	padding-left:25px;
}
#block-follow-site{
	width:100%;
	float:left;
	padding: 0 0 25px 35px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
/* =============================================================================
 *   Publications 
 * ========================================================================== */
.publication-top-left-container,
.publication-top-right-container{
	width:100%;
}
.publication-top-left-container{
	padding:0 20px 20px 20px;	
}
.publication-top-left-container img{
	width:60%;	
}
.publication-top-right-container{
	padding:20px;
}
.publication-top-right-container .node-title a{
	font-size:30px;
}
.recomendation-public{
	width:100%;
}
.publication-bottom-container .views-row{
    width:50%;
}
/* Publication listing page */
body.page-releases #columns{
	padding:0 20px;
}
.view-publication-listing-view .views-row{
	width:100%;
	padding:20px;
	margin-bottom:0;
}
.page-releases .pane-apachesolr-form .block-title,
.page-releases .pane-apachesolr-form .block-content{
	width:100%;
}
#facetapi-facet-apachesolrsolr-block-im-field-category-publication li{
	width:100%;
}
/* 
/* =============================================================================
 *   Articles
 * ========================================================================== */
.left-article-region,
.right-article-region{
	width:100%;
	padding:0 20px;
	max-width:none;
}
/* =============================================================================
 *   Sections
 * ========================================================================== */	
.section-header .views-row{
	width:100%;
	padding:0;
	padding-bottom:0;
	margin-bottom:0;
	margin-top:20px;
	border:none;		
}
.section-header .views-field-field-image-slider img{
	width:100%;
}

#content .panel-display, 
#content .panel-flexible{
	margin:0px!important;
}
ul.pager li{
    font-size: 10px!important;
    margin: 40px 5px 20px!important;
    padding: 2px 5px!important;

}
/* =============================================================================
 *   Blocks
 * ========================================================================== */
/*Banner identity */
.entity-bean.bean-banner{
	max-width:none;	
}
#block-views-read-also-block,
#block-views-read-also-block .views-row,
#node_article_full_group_bottomaregion{
	width:100%;
}
#block-views-read-also-block .views-field-view-node{
	text-align:center;
}
#block-views-read-also-block .views-row{
	padding:35px 15px;
}
.article-region .field-name-body blockquote p{
	width:81%;
}
.bottom-read-also-block, 
.top-article-content{
	padding:0 10px;
}
/* =============================================================================
 *  Decks
 * ========================================================================== */
/* News Deck */
.news-deck-top-left-content,
.news-deck-top-right-content{
	width:100%;
	padding:0 20px;
}
.news-deck-top-right-content .read-more{
	display:block;
	width:100%;
	text-align:center;
}
.news-deck-view-content .views-row,
.news-deck-view-content .views-field-title{
	width:100%;	
	float:left;
	padding-right:0;
}
.news-deck-view-content .views-field-view-node{
	display:block;
	width:100%;
	text-align:center;
}
.news-deck-bottom-right-content{
	margin-top:20px;
}
.news-deck-bottom-left-content,
.news-deck-bottom-right-content{
	width:100%;
	text-align:center;
}
.news-deck-bottom-content{
	padding-bottom:25px;
}
/* Toolbox Deck */
.toolbox-search-wrapper{
	font-size:14px;
}
/* See also Deck */
.pane-bundle-also-see-pane  .field-name-field-related-article-news .field-item{
	width:100%;
	border:none;
	min-height:0%;
}
.pane-bundle-also-see-pane .read-more{
	text-align:center;
}
/* Video Deck */
.pane-bundle-video-pane  .field-name-field-three-videos .field-item{
	width:100%;
}
.video-deck-img .media-youtube-video,
.video-deck-img .media-vimeo-video{
	height:380px;
}
.video-deck-img .media-youtube-player,
.video-deck-img .media-vimeo-player{
	height:100%;
}

/* Intro Deck */
.intro-deck-group-first{
	width:100%;
	padding-bottom:30px;
	text-align:center;
}
.intro-deck-group{
    width:100%;
	padding-bottom:30px;
	text-align:left;  
}
.intro-deck-group-first .field-name-field-teaser{
	padding-right:0;
}
/* Banner Deck */
.banner-main-wrapper {
	width:100%;
	padding: 20px;
	min-height:420px;
	margin:20px 0 0 0;
	padding:0;
}
/* Magazine Deck */

.fixed-pane-title-magazine{
		font-size:45px;
		padding-top:55px;
	}
.pane-bundle-magazine-pane .block-inner{
	padding:0 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.pane-bundle-magazine-pane .field-name-field-image, 
.mag-deck-right-group{
	width:100%;
}
.field-name-field-magazine-links .field-item a{
	width:100%;
	margin-left:0!important;
}
/* Slider Deck */
.slide-inner-content .field-name-field-small-title .field-item{
	font-size:2.5em;
}
/* Recomended Items Deck */
.pane-bundle-recommended-items-pane  .form-item,
.pane-bundle-recommended-items-pane .field-name-field-we-recommend,
.recomendation-overview{
	width:100%;
}
/* What we write about Deck */
.field-name-field-we-recommend-reference,
.pane-bundle-what-we-write-about-pane  .form-item{
	width:100%;
	padding:20px 20px;
	margin:0;
}
.pane-bundle-what-we-write-about-pane  .form-item{
	border:none;
}
/* =============================================================================
 *   Webform
 * ========================================================================== */
.node-webform .form-item input{
	width:100%;
}
.form-item .form-type-radio input{
	width:auto;
}
/* =============================================================================
 *   Footer
 * ========================================================================== */
#footer .region-footer{
	padding-right:30px;
	padding-left:30px;
}
#footer .block,
#footer .region-footer .footer-logo{
	float:left;
	margin:0 0 20px 0;
	padding:0;
	width:100%!important;
	text-align:left;
}
	
#footer .region-footer .block:nth-child(2) .block-inner{
	float:left!important;
}
.block-sof-footer-social-media,
.footer_social_media_facebook,
.footer_social_media_twitter{
	width:100%;
}
.footer_social_media_facebook,
.footer_social_media_twitter{
	margin-bottom:30px;
}
/* =============================================================================
 *   Media Queries
 * ========================================================================== */

@media all and (max-width: 480px){
	.publication-bottom-container .views-row{
	    width:100%;
   }
}
@media all and (max-width: 470px){
	#logo img{
		max-width:180px;
	}
}
@media all and (max-width: 390px){
	#header{
		padding:0 4% 4%;
	}
	.news-deck-bottom-right-content h3{
		width:100%;
		padding:0 0 20px 0;
		text-align:center;
	}
	
}
@media all and (max-width: 360px){
	#header{
		padding:0;
	}
}
@media all and (max-width: 350px){
	#logo img{
		max-width:140px;
	}
}