/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 *  - only screen and (min-width:769px) and (max-width:1024px)
 */

/* Increase the body font size on tablet devices */
body {
  font-size: 93.8%;
}
/* =============================================================================
 *   MENU CONTAINERS
 * ========================================================================== */
#header{
	margin:0 auto;
	float:none;
}
.header-inner-navigation-container{
   background: none repeat scroll 0 0 #fff;
   top:70px;
   right:0;
   position: absolute;
   z-index: 9999;
   display:none;
   width:100%;
}
.header-inner-navigation-container-hidden{
	display:block;
	float:right;
	width:100%;
}
.header-navigation-container.active{
    position: absolute;
    z-index: 100;
    width:100%;
}
.top-navigation-main, 
.top-navigation-first, 
.top-navigation-second{
	width:100%;
}
/*.top-navigation-first{
	display:none;
}*/
.top-navigation-second{
	display:none;
	float:left;
	margin-top:40px;
}
#nav-activation-link{
	display:block;
    float: right;
    width:100%;
    margin:40px 0 0 0;
}

#block-system-main-menu .menu> li > a{
	color:#000!important;
}
#nav-activation-link span{
	cursor: pointer;
	font-size: 24px;
    padding: 0 25px 0 0;
    position: relative;
    float:right;
    text-transform:uppercase;
    background-image:url('images/nav_button.png');
    background-position:right 6px;
    background-repeat:no-repeat;
}
#nav-activation-link span.active{
	background-image:url('images/nav_close_button.png');
    background-position:right 0;
    background-repeat:no-repeat;
    text-indent:-9999px;
    height:23px;
    width:0;
    display:block;
    float:right;
}
#nav-activation-link:hover{
	text-decoration:none;
}

/* =============================================================================
 *   Main Navigation
 * ========================================================================== */
.header-right-main-container,
.header-navigation-container{
	float:right;
	position:relative;
}
.menu{
	padding:0 20px;
}
.region-header{
	width:100%;
}
.region-header nav ul{
	width:auto;
}
.region-header nav ul.menu li{
	float:none;
	display:block;
	padding-bottom:25px;
}

.region-header nav .menu li.last.leaf:after{
	content:"";
}

.region-header nav ul.menu li a{
	color:#000;
	background-image:url('images/nav-drop-dow-arrow.png');
	background-position:left 9px!important;
	background-repeat:no-repeat!important;
	padding-left:25px;
	width:100%;
}
.menu li.expanded.slideul a{
	border-bottom: 0;
}
/*Second, third level*/

.second-level-main-container{
	top:0px;
	position:relative;
	height:auto!important;
	padding-bottom:0!important;
}
.second-level-main-container span{
	display:none;
}
.second-level-main-container .second-level{
	width:100%;
	padding-bottom:20px;
}
.region-header nav ul.second-level li{
	width:100%;
	background-image:none!important;
}
.second-level{
	position:relative;
}
.second-level  li{
	border:none;
	padding:0!important;
}
.third-level li a{
	background-image:none!important;
}
.third-level-main-container{
	margin-bottom:-20px;
}
/* =============================================================================
 *   Top Header Menu
 * ========================================================================== */

/* =============================================================================
 *   Articles , blocks
 * ========================================================================== */
.bottom-read-also-block,
.top-article-content{
		max-width:728px;
		padding:0;
	}
/* =============================================================================
 *   Decks
 * ========================================================================== */	
.news-deck-view-content .views-field-title a{
	font-size:24px;
}
/* Banner Deck */
.banner-main-wrapper {
	min-height:420px;
}
/* Magazine Deck */
.pane-bundle-magazine-pane .block-inner{
	padding:0 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
/* =============================================================================
 *   Footer
 * ========================================================================== */
.region-footer{
	padding-right:30px;
	padding-left:30px;
}
/* =============================================================================
 *   Media Queries
 * ========================================================================== */
@media all and (max-width: 970px){
	.publication-top-container-inner{
		padding:0 30px;	
	}	
	.publication-top-left-container{
		padding:0 20px;
	}	
}
@media all and (max-width: 920px){
	.fixed-pane-title-magazine{
		font-size:45px;
		padding-top:55px;
	}	
	
}
@media all and (max-width: 900px){
	.pane-bundle-also-see-pane  .field-name-field-related-article-news .field-item{
		min-height:620px;
	}
	.pane-bundle-also-see-pane .field-name-field-image-slider .field-item,
	.pane-bundle-also-see-pane  .field-name-field-teaser .field-item{
		min-height:0%;
	}
	
}