@font-face {
	font-family: "Flaticon";
	src: url("conduititc.eot");
	src: url("conduititc.eot#iefix") format("embedded-opentype"),
	url("conduititc.woff") format("woff"),
	url("conduititc.ttf") format("truetype"),
	url("conduititc.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
