.bean-popup {
  position: fixed;
  display: none;

  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 30px;

  z-index: 2000;

  background-color: rgba(0, 0, 0, .8);
}
.bean-popup.contextual-links-region {
  position: fixed !important;
}
body.bean-popup--visible .bean-popup {
  display: flex;
}

.bean-popup__content {
  padding: 20px;

  min-width: 350px;
  min-height: 100px;

  background-color: #fff;
}

@media only screen and (max-width: 480px) {
  .bean-popup .visible-xs {
    display: block !important;
  }
  .bean-popup .hidden-xs {
    display: none !important;
  }
}

@media only screen and (min-width: 481px) {
  .bean-popup .visible-xs {
    display: none !important;
  }
  .bean-popup .hidden-xs {
    display: block !important;
  }
}
